body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Teams */
.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 2rem;
  list-style-type: none;
  color: #333;
}

.teams li {
  flex: 0 1 15rem;
  border: 0.2rem #bbb solid;
  margin: -0.1rem;
  text-align: center;
}

.teams img {
  height: 15rem;
  width: 15rem;
  color: #333;
  line-height: 15rem;
  display: block;
  overflow: hidden;
  border-bottom: 0.1rem #bbb solid;
  padding: 0.5rem;
}

.teams a {
  color: inherit;
  text-decoration: none;
}

.teams p {
  font-weight: bold;
}
