body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



html {
  font-size: 100%;
}

/* Screen */
.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

/* Header */
header {
  overflow: hidden;
  padding: 0.7rem;
  border-bottom: solid #999 0.1rem;
  background-color: #fff;
  flex-shrink: 0;
}

header a {
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #111;
}

header a:hover {
  background-color: #e99;
}

@media (min-height: 400px) {
  /* only stick if it fits the screen*/
  header {
    position: sticky;
    top: 0;
  }
}

/* Teams */
.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 2rem;
  list-style-type: none;
  color: #333;
}

.teams li {
  flex: 0 1 15rem;
  border: 0.2rem #bbb solid;
  margin: -0.1rem;
  text-align: center;
}

.teams img {
  height: 15rem;
  width: 15rem;
  color: #333;
  line-height: 15rem;
  display: block;
  overflow: hidden;
  border-bottom: 0.1rem #bbb solid;
  padding: 0.5rem;
}

.teams a {
  color: inherit;
  text-decoration: none;
}

.teams p {
  font-weight: bold;
}

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1rem;
}

form {
  display: inline;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Games */
ul.games {
  padding: 0rem 2rem;
}

.games li {
  display: flex;
  flex-wrap: wrap;
}

.games li > * {
  padding: 0.2rem;
}

.games .game-time {
  flex: 10%;
  border: 0.1rem solid #bbb
}

.games .game-team {
  flex: 30%;
  text-align: left;
  border: 0.1rem solid #bbb
}

.games .game-score {
  flex: 50%;  
  padding: auto;
  border: 0.1rem solid #bbb
}

.games table th, .games table td {
  width: 3rem;
}

/* Footer */

footer {
  border-top: solid #999 0.1rem;
  margin-top: 1rem;
  background-color: #aaa;
  padding: 1rem;
}